/*Google-Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,400;0,500;1,500&family=Raleway:wght@700&family=Roboto&display=swap');
/*Main Body Css*/
body{
    font-family: 'Roboto', sans-serif;
}
/*----------Carousel Section-----------*/
.carousel-item{
    height: 80vh;
}
.carousel-item img{
    height: 100%;
    object-fit: cover;
}
/*______________Hot item----------------*/
.btn{
    margin-top: -50px;
    margin-left: 170px;
}

.bg{
    transform: scale(1.1);
}
/*______Contact Section________*/
.line-design{
    border-right: 2px solid orangered;
}
